body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.player2Timer {
	border: 2px solid black;
	background: slategrey;
	font-size: 36px;
	margin: 5px;
	padding: 5px;
}

.player1Timer {
	border: 2px solid black;
	background: white;
	font-size: 36px;
	margin: 5px;
	padding: 5px;
}

.chessBoard {
	height: 480px;
	width: 480px;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	border: 2px solid black;
}

.whiteSquare {
	height: 60px;
	width: 60px;
	background: white;
	position: relative;
}

.blackSquare {
	height: 60px;
	width: 60px;
	background: slategrey;
	position: relative;
}

.piece {
	position: absolute;
	bottom: 10%;
	right: 15%;
	color: black;
	font-size: 40px;
	left: 15%;
	top: 10%;
}

/* ! white pieces */
.whiteKing::after {
	content: "♔";
}

.whiteQueen::after {
	content: "♕";
}

.whiteRook::after {
	content: "♖";
}

.whiteBishop::after {
	content: "♗";
}

.whiteKnight::after {
	content: "♘";
}

.whitePawn::after {
	content: "♙";
}

/* ! Black Pieces */
.blackKing::after {
	content: "♚";
}

.blackQueen::after {
	content: "♛";
}

.blackRook::after {
	content: "♜";
}

.blackBishop::after {
	content: "♝";
}

.blackKnight::after {
	content: "♞";
}

.blackPawn::after {
	content: "♟";
}
